<div class="profile-container container shadow-lg p-4 rounded">
    <h1>Perfil de Programador</h1>

    <section class="bio mb-4">
        <h2><i class="material-icons">person</i> Biografía</h2>
        <p>Soy Asbel Salanic, un apasionado desarrollador de software con más de 5 años de experiencia en el desarrollo de aplicaciones web utilizando PHP. Me especializo en la creación de interfaces de usuario dinámicas y optimizadas para diferentes dispositivos.</p>
        <p>Desde mis inicios como desarrollador, he participado en proyectos desafiantes que han mejorado mis habilidades técnicas y mi capacidad para trabajar en equipos multidisciplinarios.</p>
    </section>

    <hr class="hr-line">

    <section class="projects mb-4">
        <h2><i class="material-icons">star</i> Proyectos Destacados</h2>
        <div class="project mb-3">
            <h3>Portafolio Personal</h3>
            <p><strong>Descripción:</strong> Aplicación web que muestra hoja de vida personal y perfil como programador, desarrollada en Angular</p>
            <p><strong>Repositorio:</strong> <a href="https://github.com/Jairlo1523" target="_blank">GitHub</a></p>
        </div>
        <div class="project mb-3">
            <h3>Proyecto Final</h3>
            <p><strong>Descripción:</strong> Test final de curso recibido, que permitio refozar conocimientos de Angular y Spring Boot.</p>
            <p><strong>Repositorio:</strong> <a href="https://github.com/Jairlo1523/final" target="_blank">GitHub</a></p>
        </div>
        
    </section>

    <hr class="hr-line">

    <section class="technical-skills mb-4">
        <h2><i class="material-icons">build</i> Habilidades Técnicas</h2>
        <ul>
            <li>PHP</li>
            <li>JavaScript</li>
            <li>HTML5 y CSS3</li>
            <li>Node.js y Express</li>
            <li>Git y GitHub (Control de versiones y colaboración)</li>
            <li>SQL y MongoDB (Bases de datos relacionales y no relacionales)</li>
            <li>Pruebas unitarias y de integración</li>
        </ul>
    </section>

    <hr class="hr-line">

    <section class="social-media">
        <h2><i class="material-icons">public</i> Redes Sociales</h2>
        <p><strong>LinkedIn:</strong> <a href="https://gt.linkedin.com/" target="_blank">Asbel Salanic</a> - Conéctame para discutir oportunidades profesionales y proyectos interesantes.</p>
        <p><strong>GitHub:</strong> <a href="https://github.com/Jairlo1523" target="_blank">Jair López</a> - Echa un vistazo a mis proyectos y colaboraciones en GitHub.</p>
        
    </section>
</div>
